[alias]
  st = status
  co = checkout
  ci = duet-commit
  lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
[core]
  editor = nvim
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
[push]
  default = simple
[submodule]
  fetchJobs = 6
[diff]
  compactionHeuristic = true
[user]
  email = ryan.moran@gmail.com
  name = Ryan Moran
[fetch]
  prune = true
